@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(../assets/fonts/opensans-light.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/opensans-regular.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url(../assets/fonts/opensans-semibold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../assets/fonts/opensans-bold.woff) format('woff');
}
html,
body {
  font-family: "Open Sans";
  font-size: 15px;
  height: 100%;
  width: 100%;
}
body {
  font-family: "Open Sans";
  margin: 0px;
  padding: 0px;
}
.main.container {
  padding: 40px 40px;
}
i.hidden-button {
  display: none !important;
  float: right !important;
}
.ui.list {
  overflow-x: visible;
  overflow-y: scroll;
  bottom: 0;
}
.ui.list .item {
  position: relative;
  padding-bottom: 10px !important;
  padding-left: 35px !important;
  padding-right: 25px !important;
}
.ui.list .item:hover i.hidden-button {
  display: block !important;
  opacity: 0.20;
}
.ui.list .item:hover i.hidden-button:hover {
  opacity: 1;
  cursor: pointer;
}
.ui.list:after {
  display: block;
  content: ' ';
  height: 0px;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.ui *::selection {
  background-color: #CCE2FF;
}
a {
  color: #009FDA;
  text-decoration: none;
}
.label.focus {
  cursor: pointer;
}
.ui.corner.label.small {
  font-size: 0.3em;
  z-index: 0;
}
.ui.stripe {
  position: absolute;
  top: 0em;
  left: 0em;
  z-index: 10;
  width: 0.5rem;
  height: 100%;
}
.ui.piled.segment:last-child {
  margin-bottom: 10px;
}
.ui.menu .item:before {
  width: 0px !important;
}
.ui.comments .comment .text {
  font-size: small;
}
.ui.input.search input {
  border-radius: 0;
}
