<div ng-controller="ContactFormController" ng-init="initData()">

  <form role="form">
    <div class="form-group">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" ng-model="contact.firstName" id="firstName" placeholder="First name">
    </div>

    <div class="form-group">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" ng-model="contact.lastName" id="lastName" placeholder="Last name">
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="tel" class="form-control" ng-model="contact.phone" id="phone" placeholder="Phone number">
    </div>

    <button class="btn btn-default" ng-click="create()" ng-hide="id">Accept</button>
    &nbsp;<a href="#/contacts">Back to list</a>

  </form>

</div>