<div class="ui two column stackable page grid">
  <div class="column">
    <div class="ui two stackable items">
      <div class="item">
        <div class="image">
          <img src="assets/images/people/775/avatar.jpg">
          <a class="like ui corner label">
            <i class="like icon"></i>
          </a>
        </div>
        <div class="content">
          <div class="name">Cute Dog</div>
          <p class="description">This dog has some things going for it. Its pretty cute and looks like it'd be fun to
            cuddle up with.</p>

          <div class="extra">
            199 votes
          </div>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/people/500/9.jpg">
          <a class="like ui corner label">
            <i class="like icon"></i>
          </a>
        </div>
        <div class="content">
          <div class="meta">5 days ago</div>
          <div class="name">Faithful Dog</div>
          <p class="description">Sometimes its more important to have a dog you know you can trust. But not every dog is
            trustworthy, you can tell by looking at its smile.</p>

          <div class="extra">
            311 votes
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="column">
    <div class="ten wide column">
      <div class="ui small piled feed segment">
        <h4 class="ui header">My Activity</h4>
        <div class="event">
          <div class="label">
            <img src="assets/images/people/35/1.jpg">
          </div>
          <div class="content">
            <div class="date">
              Just moments ago
            </div>
            <div class="summary">
              <a>Sally Poodle</a> added you as a friend
            </div>
          </div>
        </div>
        <div class="event">
          <div class="label">
            <i class="circular pencil icon"></i>
          </div>
          <div class="content">
            <div class="date">
              3 days ago
            </div>
            <div class="summary">
              You submitted a new post to the page
            </div>
            <div class="extra text">
              I am a dog and I do not know how to make a post
            </div>
          </div>
        </div>
        <div class="event">
          <div class="label">
            <i class="circular photo icon"></i>
          </div>
          <div class="content">
            <div class="date">
              3 days ago
            </div>
            <div class="summary">
              <a>Sally Poodle</a> added <a>2 new photos</a> of you
            </div>
            <div class="extra images">
              <img src="assets/images/people/250/1.jpg">
              <img src="assets/images/people/250/2.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>